<div class="profile-chunk">
  <%= render partial: "admin/shared/profile", locals: {user: @user} %>
</div>

<div class="container">
  <h1><%= "#{@user.full_name}'s needs" %></h1>
    <div id="needs">
      <% @user.needs.each do |need| %>
        <div class="cart-header">
          <div class="cart-sec">
            <div class="cart-need-info" id="<%= need.name %>">
              <h3><%= need.name %>: <%= need.quantity %></h3>
              <%= form_for need, url: admin_recipient_needs_path(id: need.id), method: :patch do |f| %>
                <%= f.number_field :quantity, value: need.quantity, min: 1, max: need.max, placeholder: "Quantity", size: 1 %>
                <%= f.submit "Update Amount", class: "btn btn-link"%>
              <% end %>
              <%= button_to "Remove Need", admin_recipient_needs_path(id: need.id), method: :delete, class: "btn btn-link", confirm: "Are you sure?" %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      <% end %>
    </div>
  <br>
  <p><%= link_to "Add New Needs", admin_recipient_needs_path, class: "btn btn-primary"%></p>
</div>
