<div class="container">
  <div class="row">
    <center>
      <div class="centered">
        <div class="col-md-12">
          <div class="row carousel-holder">
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <%= image_tag "girl_and_goat.jpg", width: "900px", padding: "10px" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <% @needs.each do |need| %>
              <div class="col-sm-4 col-lg-4 col-md-4" id="<%= need.name %>">
                <div class="thumbnail">
                  <h4><%= need.name.upcase %></h4>
                  <%= image_tag "#{need.image_url}", width: "300px" %>
                  <div class="caption">
                    <h4 class="pull-right"><%= number_to_currency(need.cost) %></h4>
                    <%= button_to cart_path(need_id: need.id), class: "btn btn-primary" do %>
                      Add to Basket
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
