<div class="container form-spacing">
  <div class="vertical-center-row">
    <div align="center">
      <h1>Edit Need</h1>

        <%= form_for @need_type, , url: {:controller=>'admin/need_type', :action=>'update'} do |f| %>

        <p><%= f.text_field :name, placeholder: "Name" %></p>
        <p><%= f.text_field :description, placeholder: "Description" %></p>
        <p><%= f.number_field :cost, step: "any", placeholder: "Cost" %></p>
        <p><%= f.number_field :category, placeholder: "Category" %></p>
        <p><%= f.text_field :image_url, placeholder: "Image Url" %></p>

        <p><%= f.submit  %></p>

      <% end %>
    </div>
  </div>
</div>
