<div class="container">
  <div class="row">
    <center>
      <div class="centered">
        <div class="col-md-12">
          <div class="row carousel-holder">
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <%= image_tag "girl_and_goat.jpg", width: "1000px", padding: "10px", id: "roundy" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <%= render partial: "shared/filter" %>
          <div class="row">
            <% @needs.each do |need| %>
              <div class="need" data-name="<%= need.name %>" data-category="<%= need.category.name %>">
                <div class="col-sm-4 special mine" id="<%= need.slug %>" style="height: 400px">
                  <div class="thumbnail kris", style="height: 400px">
                    <%= image_tag(need.image_url, class: "img-rounded now") %>
                    <h4><%= need.name %></h4>
                    <h5><%= number_to_currency(need.cost) %></h5>
                    <%= button_to admin_recipient_needs_path(need_id: need.id), class: "btn btn-primary" do %>
                      Add Need to Recipient
                    <% end %>
                    <div class="caption">
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
