<div class="cart">
  <div class="container">
    <div class="cart-top">
      <h1>All Items</h1>
    </div>
    <div class="cart-conclusion">

      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Cost</th>
          <th>Action</th>
        </tr>
        <% @need_types.each do |need| %>
          <tr class="need<%= need.id %>">
            <td><%= link_to need.name, "needs/:id" %></td>
            <td><%= need.description %></td>
            <td><%= number_to_currency(need.cost) %></td>
            <td><%= link_to "Edit", edit_admin_need_path(need) %></td>
          </tr>
        <% end %>
        <tr>
        </tr>
      </table>
    </div>
  </div>
</div>
