<div class="container">
    <h1>Your Needs</h1>
      <div id="needs">
        <% @user.needs.each do |need| %>
          <div id="<%= need.name %>">
            <p>
              <%= need.name %>
              <div class="btn-group">
                <%= button_to "Remove Need", destroy_need_path(id: need.id), method: :delete, class: "btn btn-default", confirm: "Are you sure?" %>
              </div>
              <%= form_for need, url: edit_need_path(id: need.id), method: :patch do |f| %>
                <%= f.number_field :quantity, value: need.quantity, min: 1, max: need.max, placeholder: "Quantity", class: "form-control input-small" %>
                <%= f.submit "Update Amount"%>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    <br>
    <p><%= link_to "Add Needs", needs_path, class: "btn btn-primary"%></p>
</div>
