<div class="col-md-9 recip-needs">
    <h2>Your Needs</h2>
      <div id="needs">
        <% @user.needs.each do |need| %>
          <div id="<%= need.name %>">
            <div class="need-list">
              <table>
                <tr>
                  <td>
                      <%= need.name %>: <%= need.quantity %>
                  </td>
                  <td>
                      <%= form_for need, url: edit_need_path(id: need.id), method: :patch do |f| %>
                      <%= f.number_field :quantity, value: need.quantity, min: 1, max: need.max, placeholder: "Quantity", size: 1 %>
                      <%= f.submit "Update Amount", class: "btn btn-link"%>
                  </td>
                  <td>
                      <%= button_to "Remove Need", destroy_need_path(id: need.id), method: :delete, class: "btn btn-link", confirm: "Are you sure?" %>
                  </td>
                </tr>
              </table>
            </div>
            <% end %>

          </div>
        <% end %>
      </div>
    <br>
    <p><%= link_to "Add Needs", needs_path, class: "btn btn-primary"%></p>
</div>
