<div class="col-md-9 cart-needs" id="needs">
  <% @user.needs.each do |need| %>
    <div class="cart-header">
      <div class="cart-sec">
        <div class="cart-need-info" id="<%= need.name %>">
          <h3><%= need.name %>: <%= need.quantity %></h3>
          <%= form_for need, url: edit_need_path(id: need.id), method: :patch do |f| %>
            <%= f.number_field :quantity, value: need.quantity, min: 1, max: need.max, placeholder: "Quantity", size: 1 %>
            <%= f.submit "Update Amount", class: "btn btn-link"%>
          <% end %>
          <%= button_to "Remove Need", destroy_need_path(id: need.id), method: :delete, class: "btn btn-link", confirm: "Are you sure?" %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>
</div>
