<div class="container">
  <div class="row">
    <div class="recip-head span9">
      <h1>Explore the Possibilities. Create a Spark.<br> Inspire Change. Transform Lives.</h1>
      <hr>
    </div>
    <div class="thumbsize">
      <% @recipients.each do |recipient| %>
        <% if has_need?(recipient) %>
          <div class="another">
            <div class="boxy">
              <div class="pictureframe">
                <%= image_tag recipient.image_url, class: "thumbsize-pic" %>
              </div>
              <div class="recip-info">
                <h3><%= link_to recipient.full_name, recipient_path(recipient.username) %></h3>
                <ul class="none">
                  <li><strong>Country:</strong> <%= recipient.country %></li>
                  <li><strong>About:</strong> <%= recipient.description %></li>
                  <li><strong>Total Need:</strong> <%= number_to_currency(recipient.total) %></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
