<h2><%= "#{@recipient.first_name} #{@recipient.last_name}" %></h2>
<ul>
  <li><%= @recipient.country %></li>
  <li><%= @recipient.total %></li>
  <li><%= @recipient.description %></li>
</ul>

<% @recipient.needs.each do |need| %>
  <div id="<%= need.id %>">
    <p><%= link_to need.name, need_path(need) %></p>
    <p>Unit Cost: $<%= need.cost %></p>
    <p>Total Cost: $<%= need.total%></p>
    <p>Raised: $<%= need.raised %></p>
    <%= form_for(need, url: donate_user_need_path(@recipient.username, need.slug)) do |f| %>
      <%= f.label :raised, "Amount" %>
      <%= f.number_field :raised, min: 1, max: need.max_donate_amount %>
      <%= f.submit "Add donation to cart", class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>
