<div class="cart">
  <div class="container">
    <div class="cart-top">
      <h4><%= link_to "<< home", root_path %></h4>
    </div>
    <div class="col-md-9 cart-needs">
      <h2>My Basket</h2>
      <h4>    Contents: <%= @cart.count_donations %> Items</h4>
      <% @recipients_donations.each do |recipient, donations| %>
        <div class="cart-header">
          <div class="cart-sec">
            <div class="cart-need-info">
              <% donations.each do |donation| %>
                <p><%= "Donate #{number_to_currency(donation.amount)} to #{recipient.full_name} for #{donation.need_name}" %></p>
                <div class="cart-remove"><%= button_to "Remove Donation", donations_path(id: donation.id), method: :delete, data: { confirm: "Are you sure?" } %></div>
              <% end %>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-3 cart-total">
        <span class="total final"><h4 class="last-price">TOTAL
            <%= number_to_currency(@cart.total_donor_cost) %></h4></span>
        <div class="clearfix"></div>
        <%if current_user %>
          <% if @cart.contents["donor"].empty? %>
            <button  type="button" disabled>Checkout</button>
          <% else %>
            <%= button_to "Checkout", new_charge_path, method: :get, class:"order btn btn-primary" %>
          <% end %>
        <% else %>
          <%= button_to "Login to Donate", login_path, method: :get, class:"order btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
