<div class="cart">
  <div class="container">
    <div class="cart-top">
      <h1>Welcome Administrator : <%= @user.first_name %></h1>
    </div>
    <div class="cart-conclusion">
      <table width="100%">
        <tr>
          <th>
          Admin Dashboard
          </th>
        </tr>
        <tr>
          <td>
            <%= link_to "Add Needs", new_admin_need_type_path %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "View All Needs", admin_need_types_path %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "Add New User", new_admin_user_path %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "View All Users - Coming Soon!", "#" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "Company News - Coming Soon!", "#" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "Training - Coming Soon!", "#" %>
          </td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  </div>
</div>
